.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}

.code-tr:hover {
  cursor: pointer;
}

.magnifying-glass {
  color: grey;
}
.magnifying-glass:hover {
  cursor: pointer;
  color: #00a4bd;
}

.hide {
  display: none;
}
